<h2> <%= @lesson.name %> </h2>

<%= link_to "Edit Lesson", edit_week_lesson_path(@lesson.week, @lesson) %>
<%= link_to "Delete Lesson", week_lesson_path(@lesson.week, @lesson),
      :data => {:confirm => "Really?", :method => "delete"} %>
