<h1 class="header">Courses</h1>

<% if @courses.any? %>

    <% @courses.each do |course| %>
      <h4 class="courses"><%= link_to course.name, course_path(course) %></h4>
      <% end %>

<% else %>
  <h4>There are no courses available yet</h4>
<% end %>
<h4 class="button-add"><%= link_to "Add Course", new_course_path %></h4>
